<div class="complete-post-wrapper" onclick="open_post({{post_id}})">
    <div class="comment-post">
        <div class="rate">
            <!-- This is for the sake of creating a simple block at the left -->
        </div>
        <div class="content">
            <div class="comment-header">{{username}} commented on <span>{{title}}</span> {{time}} ago</div>
            <div class="comment">{{text}}</div>
        </div>

    </div>
</div>