<html>

<head>
    <title>Edit {{edit_obj.title}}</title>
    <link rel="stylesheet" href="/styles/text-editor.css">
    <link rel="stylesheet" href="/styles/edit.css">
    <link rel="stylesheet" href="/styles/slider.css">
    
    {{>essentials}}

    <script src="/scripts/edit.js"></script>

</head>
<body>
    {{>nav}}
    <!-- Where the rest of the page is: -->
    <div id="main-editor">
        <div style="height:50px"></div>

        <div id="main-feed">
            <div style="height:50px"></div>
            {{#if edit_obj.logged}}
                <h1>Edit</h1>
                <div id="editor-wrapper">
                    {{#if edit_obj.is_post}}
                        <h3 class="titles">Editing your post...</h3> 
                        <p id="edit-title">{{edit_obj.title}}</p>
                        <span id="edit-author">{{edit_obj.author}}</span>
                    {{else}}
                        <h3 class="titles">Editing comment for...</h3> 
                        <p id="edit-title">{{edit_obj.title}}</p>
                        <span id="edit-author">{{edit_obj.author}}</span>

                        {{#if edit_obj.reply}}
                        <h3 class="titles">Comment:</h3>
                        <p id="edit-reply">{{edit_obj.reply}}</p>
                        <span id="edit-author">{{edit_obj.author_reply}}</span>
                        {{/if}}
                    {{/if}}
                    
                    {{#if edit_obj.is_post}}
                    <h4 class="titles" id="edit-type">Editing Body</h4>
                    {{else}}
                    <h4 class="titles">Editing Text</h4>
                    {{/if}}

                    <div id="personalized-div">
                        <img src="/images/profile-imgs/{{edit_obj.profile_pic}}" id="personalized-img">
                        <div id="personalized-editor">
                            <textarea id="editor">{{edit_obj.body}}</textarea>
                            <div id="editor-options"><button type="button" id="text-submit">Submit</button></div>
                        </div>
                    </div>
                    

                </div>
            {{else}}
                <p id="editor-line">Error. This is not your post to edit! Sorry!</p>
            {{/if}}
        </div>
    </div>
</body>
</html>