<html>

<head>
    <title>Edit</title>
    <link rel="stylesheet" href="/styles/text-editor.css">
    <link rel="stylesheet" href="/styles/slider.css">
    
    {{>essentials}}

    <script src="/scripts/post-click.js"></script>
    <script src="/scripts/edit.js"></script>

</head>
<body>
    {{>nav}}
    <!-- Where the rest of the page is: -->
    <div id="main-editor">
        <div style="height:50px"></div>

        <div id="main-feed">
            <div style="height:50px"></div>
            {{#if edit_obj.logged}}
                <h1>Edit</h1>
                <div id="editor-wrapper">
                    {{#if edit_obj.is_post}}
                        <h3 class="titles">Editing your post...</h3> 
                        <p id="edit-title">{{edit_obj.title}}</p>
                        <span id="edit-author">{{edit_obj.author}}</span>
                    {{else}}
                        <h3 class="titles">Editing comment for...</h3> 
                        <p id="edit-title">{{edit_obj.title}}</p>
                        <span id="edit-author">{{edit_obj.author}}</span>

                        <h3 class="titles">Comment:</h3>
                        <p id="edit-reply">{{edit_obj.reply}}</p>
                        <span id="edit-author">{{edit_obj.author_reply}}</span>
                    {{/if}}
                    
                    <h4 class="titles">Body</h4>
                    <textarea id="editor">{{edit_obj.body}}</textarea>

                    <div id="editor-options"><button id="text-submit">Submit</button></div>

                </div>
            {{else}}
                <p id="editor-line">Error. This is not your post to edit! Sorry!</p>
            {{/if}}
        </div>
    </div>
</body>
</html>