<html>
<head>
    <title>InFeed</title>
    <link rel="stylesheet" href="/styles/profile.css">

    {{>essentials}}

    <script src="/scripts/post-click.js"></script>
    <script src="/scripts/ui-button.js"></script>
</head>
<body>
    {{>nav}}
    <!-- Where the rest of the page is: -->
    <div id="main-page">
        <div style="height:50px"></div>

        <div class="page-wrapper">
            <div id="profile-posts">
                {{#each posts}}
                    {{>profile/post this}}
                {{/each}}
            </div>
            
            <div id="profile-bio">
                <div id="author-header">
                    <img src="/images/profile-imgs/{{user.profile_pic}}">
                    <div class="author-dets">    
                        <a href="/u/{{user.username}}"><span id="author-name">{{user.name}}</span><br></a>
                        <a href="/u/{{user.username}}"><span id="author-id">{{user.username}}</span></a> <br><br>
                        <button>Follow</button>
                    </div>
                </div>
                <p id="author-desc">{{user.bio}}</p>
            </div>
        </div>
    </div>
</body>
</html>