<html>
<head>
    <title>InFeed</title>
    <link rel="stylesheet" href="/styles/profile.css">

    {{>essentials}}
    
</head>
<body>
    {{>nav}}
    <!-- Where the rest of the page is: -->
    <div id="main-page">
        <div style="height:50px"></div>

        <div class="page-wrapper">
            <div id="profile-posts">
                {{#each render.off_comments}}
                    {{>profile/comment}}
                {{/each}}

                {{#each render.posts}}
                    {{>profile/post}}
                {{/each}}
            </div>
            
            <div id="profile-bio">
                <div id="author-header">
                    <img src="/images/profile-imgs/{{render.user.profile_pic}}">
                    <div class="author-dets">    
                        <a href="/u/{{render.user.username}}"><span id="author-name">{{render.user.name}}</span><br></a>
                        <a href="/u/{{render.user.username}}"><span id="author-id">{{render.user.username}}</span></a> <br><br>
                    </div>
                </div>
                <p id="author-desc">{{render.user.bio}}</p>
            </div>
        </div>
    </div>
</body>
</html>