<div class="comment-segment" id="{{comment_id}}">
    <div class="comment">
        <img src="/images/profile-imgs/{{profile_pic}}" class="Comment-Picture">
        <div class="comment-text">
            <a href="/u/{{username}}"><span class="commentor-name">{{username}}</span></a><br>
            {{text}}
        </div>
        <div class="com-btns">
            <div>
                
            <button class="reply-btn">Reply</button>
            </div>
            {{#if logged}}
            <div class="kebab">
                <div class="dd-a"><span>:</span></div>
                <input type="checkbox">
                <div class="dd-c">
                    <ul>
                        <li><button><span>Edit</span></button></li>
                        <li><button><span>Delete</span></button></li>
                    </ul>
                </div>
            </div>
            {{/if}}
        </div>
        
    </div>

    {{#each replies}}
        {{>post/reply this}}
    {{/each}}
</div>