<div class="reply" id="{{comment_id}}">
    <img src="/images/profile-imgs/{{profile_pic}}" class="Comment-Picture">
    <div class="comment-text">
        <a href="/u/{{username}}"><span class="commentor-name">{{username}}</span></a><br>
        {{text}}   
    </div>
    {{#if logged}}
        {{>post/kebab}}
    {{/if}}
</div>